// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ6018 CP01 board device tree source
 *
 * Copyright (c) 2019-2020 The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "ipq6018.dtsi"

/ {
	model = "Siklu cTU 100 new";
	compatible = "siklu,ipq6018-ctu", "qcom,ipq6018";

	aliases {
		serial0 = &blsp1_uart3;
		ethernet0 = &sgmii;
		ethernet1 = &wigig0;
		wigig_device_tu = &wigig0;
	};

	/* Declare wigig devices for the gen_node_info_file.sh script.
	   Note that this declaration is not used by any driver and resides in
	   the dts by Facebook convention only. */
	wigig_devices {
		wigig0: wigig@0 {
			pci-bus = "0000:01:00.0";
		};
	};

	/*
	* We have two HWs: PCB263A v1 and PCB263A v2. 
	* On PCB263A v1 (old), the USB reset pin is on GPIO55, 
	* On PCB263A v2 (new). the USB reset pin is on GPIO43.
	* In order to support both of them together, we will need to 
	* reset both pins. In order to do so, we are using the `reset-gpios`
	* to trigger the old reset, along with a fixed regulator passed
	* through `vcc-supply` to trigger the new reset.
	* So at the end, both GPIOs will be active once usb3h0_phy will be 
	* needed.
	*/
	usb3_vbus_new: regulator-usb3-new {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&tlmm 43 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "usb3_vbus";
		status = "okay";
		pinctrl-0 = <&usb3_reset_pins_new>;
		pinctrl-names = "default";
	};

	usb3h0_phy: usb3_phy0 {
		compatible = "usb-nop-xceiv";
		reset-gpios = <&tlmm 55 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&usb3_reset_pins_old>;
		pinctrl-names = "default";
		vcc-supply = <&usb3_vbus_new>;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = " swiotlb=1 isolcpus=2,3 ro cma=32m default_hugepagesz=2m hugepagesz=2m hugepages=80 usbcore.quirks=2357:0601:k";
	};

	/*
	* +=========+==============+========================+
	* |        |              |                         |
	* | Region | Start Offset |          Size           |
	* |        |              |                         |
	* +--------+--------------+-------------------------+
	* |        |              |                         |
	* |        |              |                         |
	* |        |              |                         |
	* |        |              |                         |
	* | Linux  |  0x41000000  |         139MB           |
	* |        |              |                         |
	* |        |              |                         |
	* |        |              |                         |
	* +--------+--------------+-------------------------+
	* | TZ App |  0x49B00000  |           6MB           |
	* +--------+--------------+-------------------------+
	*
	* From the available 145 MB for Linux in the first 256 MB,
	* we are reserving 6 MB for TZAPP.
	*
	* Refer arch/arm64/boot/dts/qcom/ipq6018-memory.dtsi
	* for memory layout.
	*/

	/* TZApp is enabled in default memory profile only. */
	/* This below reservation must be updated when LM support is added. */
	reserved-memory {
		tzapp:tzapp@49B00000 {  /* TZAPPS */
			no-map;
			reg = <0x0 0x49B00000 0x0 0x00600000>;
		};

		ramoops@50000000 {
			compatible = "ramoops";
			reg = <0x0 0x50000000 0x0 0x10000>;
			record-size = <0x4000>;
		};
	};

	i2c-gpio {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&i2c_gpio_pins>;
		pinctrl-names = "default";
		scl-gpios = <&tlmm 46 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		sda-gpios = <&tlmm 47 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		status = "okay";

		// // move to dtso?
		spi_bridge0: spi@28 {
			compatible = "nxp,sc18is606";
			reg = <0x28>;
			// spidev in compatible string is not supported so use random one from supported list...
			spidev@0 {
				compatible = "menlo,m53cpld";
				reg = <0>;
				// tweak speed later
				spi-max-frequency = <25000000>;
			};
			spidev@1 {
				compatible = "menlo,m53cpld";
				reg = <0>;
				spi-max-frequency = <25000000>;
			};
			spidev@2 {
				compatible = "menlo,m53cpld";
				reg = <0>;
				spi-max-frequency = <25000000>;
			};
		};
		// move to dtso?
		spi_bridge1: spi@29 {
			compatible = "nxp,sc18is606";
			reg = <0x29>;
			
			spidev@0 {
				compatible = "menlo,m53cpld";
				reg = <0>;
				spi-max-frequency = <25000000>;
			};
			spidev@1 {
				compatible = "menlo,m53cpld";
				reg = <0>;
				spi-max-frequency = <25000000>;
			};
			spidev@2 {
				compatible = "menlo,m53cpld";
				reg = <0>;
				spi-max-frequency = <25000000>;
			};
		};

		// move to dtso as part of RF board
		temperature-sensor@48 {
				compatible = "ti,tmp1075";
				reg = <0x48>;
		};

		rtc@52 {
			device_type = "rtc";
			compatible = "microcrystal,rv3028";
			reg = <0x52>;
			backup-switchover-mode;
			dsm-mode;
			trickle-resistor-ohms = <3000>;
		};

		temperature-sensor@4c {
			compatible = "ti,tmp421";
			reg = <0x4c>;
		};

		eeprom@a0 {
			compatible = "atmel,24c256"; // AT24CM02 should be compatible with this
			reg = <0xa0>;
			pagesize = <256>; 
			status = "okay";
		};
	};
};

&blsp1_uart3 {
	pinctrl-0 = <&serial_3_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&blsp1_spi1 {
	cs-select = <0>;
	status = "ok";

	m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "n25q128a11";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "qcom,smem-part";
		};
	};
};

&tlmm {
	i2c_gpio_pins: i2c-gpio-pins {
		pins = "gpio46", "gpio47";
		function = "gpio";
		drive-strength = <8>;
	};

	spi_0_pins: spi-0-pins {
		pins = "gpio38", "gpio39", "gpio40", "gpio41";
		function = "blsp0_spi";
		drive-strength = <8>;
		bias-pull-down;
	};

	usb3_reset_pins_old: usb3-reset-old-pins {
		pins = "gpio55";
		function = "gpio";
		drive-strength = <8>;
	};

	usb3_reset_pins_new: usb3-reset-new-pins {
		pins = "gpio43";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	pwm_pins: pwm-pins {
		/* Power LED yellow part */
		mux_0 {
			pins = "gpio23";
			function = "pwm12";
		};
		/* Power LED green part */
		mux_1 {
			pins = "gpio24";
			function = "pwm22";
		};
	};

	mdio_pins: mdio_pinmux {
		mux_0 {
			pins = "gpio64";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_1 {
			pins = "gpio65";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_2 {
			pins = "gpio74";
			function = "gpio";
			bias-pull-up;
		};
		mux_3 {
			pins = "gpio77";
			function = "gpio";
			bias-pull-up;
		};
	};
};

&soc {
	sgmii: dp2 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <3>;
		reg = <0x0 0x3a001600 0x0 0x200>;
		qcom,mactype = <0>;
		local-mac-address = [000000000000];
		qcom,link-poll = <1>;
		mdio-bus = <&mdio>;
		qcom,phy-mdio-addr = <4>;
		phy-mode = "sgmii";
		siklu_port_name = "eth1";
	};

	ess-switch@3a000000 {
		switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
		switch_lan_bmp = <0x18>; /* lan port bitmap */
		switch_wan_bmp = <0x20>; /* wan port bitmap */
		switch_inner_bmp = <0xc0>; /*inner port bitmap*/
		switch_mac_mode = <0x0>; /* mac mode for uniphy instance0*/
		switch_mac_mode1 = <0xf>; /* mac mode for uniphy instance1*/
		switch_mac_mode2 = <0xff>; /* mac mode for uniphy instance2*/
		mdio-bus = <&mdio>;
		qcom,port_phyinfo {
			port@4 {
				port_id = <3>;
				phy_address = <4>;
			};
		};
	};
};

&mdio {
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";
	reset-gpios = <&tlmm 74 GPIO_ACTIVE_LOW>;
	reset-assert-us = <2000>;
	status = "okay";
	phy1: ethernet-phy@4 {
		reg = <4>;
	};
};

&qpic_bam {
	status = "ok";
};

&qpic_nand {
	status = "ok";

	nand@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;

		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
	};
};

&pcie_phy {
	status = "ok";
};

&pcie0 {
	perst-gpio = <&tlmm 60 1>;

	status = "ok";
};

&ssphy_0 {
	status = "ok";
};

&qusb_phy_0 {
	status = "ok";
};

&usb3 {
	status = "ok";
};

&dwc_0 { 
	usb-phy = <&usb3h0_phy>;
};

&pwm {
	pinctrl-0 = <&pwm_pins>;
	pinctrl-names = "default";
	status = "okay";
};
